.adopt {
  color: #1c1e22;
}

h1 {
  width: 60%;
}

.adoption-queue {
  font-size: 1.2em;
}

.fixed-bottom {
  color: whitesmoke;
  font-size: medium;
  padding: 5px 0;
}

p {
  font-size: 1.2em;
}

img {
  width: 95%;
  height: 250px;
}

.adopt-button {
  background-color: #6e44ff !important;
  border-color: #6e44ff !important;
  color: whitesmoke !important;
}

.adopt-button:hover,
.adopt-button:focus {
  background-color: #4f1fff !important;
  border-color: #4f1fff !important;
  color: whitesmoke !important;
}

.caret {
  background-color: #494f5a !important;
  border-color: #494f5a !important;
  color: whitesmoke !important;
}

.caret:hover,
.caret:focus {
  background-color: #1c1e22 !important;
  border-color: #1c1e22 !important;
  color: whitesmoke !important;
}

.confirmation {
  color: green;
}
